<h1>New Auction</h1>
<%= simple_form_for @auction do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.input :reserve_price %>
  <%= f.input :current_price %>
  <%= f.input :end_date, :input_html => { :class => 'date_picker' } %>
  <%= f.submit :submit, class:'btn btn-primary' %>
<% end %>
